body {
    background-image: url("background4.jpg");
    color: white;
}
a {
    text-decoration: none;
}
h1 {
    text-align: center;
}
div#top {
    margin: 0;
    padding: .3em 0 .3em 0;
    width: 100%;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}
a:link,
a:visited {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #171722;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: .3em .4em .3em .4em;
}
a:hover,
a:active {
    background-color: #4d4d70;
    padding: .3em .4em .3em .4em;
}
div#top ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
}
div#top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
