body{
	background-image: url("background.jpg");
	font-weight: bold;
	
}

p{
	font-weight: bold;
}

h2{
	font-size: 40px;
	font-family: serif;
	font-style: normal;

}

a:link{
	color:#00ffff;
}
a:hover{
	color:#003366;
}
a:visited{
	color: #0066ff;
}

a{
	text-decoration: none;

}

body{
	text-align: left;

}

h1{
	text-align: center;
}